html{
    font-size: 14.40px;
}

@media only screen and (max-width: 1440px) {
    html{
        font-size: 14.40px;
    }
}

@media only screen and (max-width: 1366px) {
    html{
        font-size: 13.66px;
    }
}

@media only screen and (max-width: 1280px) {
    html{
        font-size: 12.80px;
    }
}

@media only screen and (max-width: 1024px) {
    html{
        font-size: 10.24px;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

body {
    background: #fff;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #147;
}

a:hover {
    color: #ac4;
}

#web_body {
    width: 76rem;
    margin: 2rem auto;
}

#header {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    text-align: center;
}

#content {
    display: flex;
}

.title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #333;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.split {
    width: 100%;
    height: 0.3rem;
    background: #ac4;
}

#split_top {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#split_bottom {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.ul-list {
    -webkit-text-size-adjust: none;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

#sidebar {
    width: 30rem;
    padding: 1rem;
    background-color: #eee;
    text-align: left;
}

#sidebar h2 {
    margin: 0.2rem 0 1rem 0;
}

#sidebar ul li {
    list-style-type: none;
}

#main {
    width: 100%;
    min-height: 35rem;
    padding: 1rem 0 1rem 3rem;
}

#main hr {
    margin: 0.2rem 0 1rem 0;
}

#main ul {
    padding: 0 1rem;
}

#main ul li {
    list-style-type: square;
}

#footer {
    padding: 0.5rem 0;
    text-align: center;
    background-color: #eee;
    font-size: 1.1rem;
}
